
/* Board related styling */
table {
    margin:1em auto;
    border-spacing: 0px;
}
td {
    height:30px;
    width:30px;
    border:1px solid;
    text-align:center;
}
td:first-child {
    border-left:solid thick;
}
td:nth-child(3n) {
    border-right:solid thick;
}
tr:first-child {
    border-top:solid thick;
}
tr:nth-child(3n) td {
    border-bottom:solid thick;
}

input[type="number"] {
	width: 100%; 
	height: 100%;
	box-sizing: border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing: border-box;
	border: 0px solid;
	font-size: large;
	text-align: center;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
	-webkit-appearance: none; 
	margin: 0; 
}
